* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  section {
    
    background-image:  url(".//calcul.webp");
    
    
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    box-shadow: 5px 5px 10px 5px rgba(20, 20, 20, 0.18);
    width: 90%;
    max-width: 400px;
    background-color: rgb(15, 191, 235);
    border-radius: 8px;
    overflow: hidden;
  }
  .display {
    background-color: rgb(240, 239, 239);
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    position: relative;
  }
  .display-1 {
    opacity: 0.4;
    font-size: 20px;
    height: 20px;
    overflow: hidden;
  }
  .temp-result {
    position: absolute;
    bottom: 0;
    left: 10;
    font-size: 20px;
    opacity: 0.3;
  }
  .all_button {
    color: rgb(20, 20, 20);
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  }
  .button {
    border: 0.5px solid rgba(64, 9, 190, 0.589);
    display: inline-block;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
  }
  .button:hover {
    background-color: rgb(75, 185, 209);
  }
  .btn-0 {
    grid-column: 1/3;
  }
  